{% extends "templates/base.html" %}


{% block title %}About{% endblock %}


{% block content %}

This site is meant to be a content discovery tool for reddit.
I made it just for fun's sake. <br>
It runs on appengine, the posts database is renewed every 4 hours,<br>
Source code of this site is available on github, <a href="http://github.com/sauravtom/algsin">link</a> <br>
Made with love by <a href="htttp://twitter.com/sauravtom">Saurav Tomar</a> <br><br><br>

Share the Love <br><br>
<div class='social'>    
    <button class="btn btn-success"
      onclick="
        window.open(
          'https://twitter.com/intent/tweet?source=webclient&text=Check out algs.in @algs_in ',
          'Tweet',
          'width=626,height=436'); 
        return false;">Twitter
    </button>


    <button href="#" class="btn btn-success"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u=algs.in', 
          'facebook-share-dialog', 
          'width=626,height=436'); 
        return false;">Facebook
    </button>

    <button href="#" class="btn btn-success"
      onclick="
        window.open(
          'https://plus.google.com/share?url=algs.in',
          'Google Plus Share', 
          'width=626,height=436');
        return false;">Google+
    </button>
</div>

{% endblock %}
