<!DOCTYPE html>

<html>
  <head>
    <title>{% block title %}{% endblock %} - algs.in</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/lazyload.min.js'></script>
    <script type="text/javascript">
      $("img.lazy").lazyload({
          effect : "fadeIn"
      });
    </script>

    
  </head>
  <body>

    <div id="foo">
      <div class="container">
          <div class="navbar">
              <ul class="nav navbar-nav nav-justified">

                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meme <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="/0.meme.rage">rage</a></li>
                                <li><a href="/0.meme.advice_animals">advice_animals</a></li>
                                <li><a href="/0.meme.ecards">ecards</a></li>
                                <li><a href="/0.meme.wtf">wtf</a></li>
                                <li><a href="/0.meme.other">other</a></li>
                              </ul>
                            </li>

                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pictures <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="/0.eyecandy.quotes">quotes</a></li>
                                <li><a href="/0.eyecandy.nature">nature</a></li>
                                <li><a href="/0.eyecandy.city">city</a></li>
                                <li><a href="/0.eyecandy.space">space</a></li>
                                <li><a href="/0.eyecandy.wallpapers">wallpapers</a></li>
                              </ul>
                            </li>


                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="/0.video.bestof">best of all</a></li>
                                <li><a href="/0.video.documentaries">documentaries</a></li>
                                <li><a href="/0.video.movies">movies</a></li>
                                <li><a href="/0.video.tvshows">tv shows</a></li>
                                <li><a href="/0.video.standup">standup comedy</a></li>
                                <li><a href="/0.video.old">old</a></li>
                              </ul>
                            </li>
              </ul>
        </div> <!-- container -->
      </div> <!-- navbar -->
    </div> <!-- foo -->


    <div id="content">{% block content %}{% endblock %}</div>
    
    <div id="footer">
        
    </div>

  </body>
</html>