{% extends "templates/base.html" %}


{% block title %}Image{% endblock %}

{% block content %}

	{{scn_id}}

	News from <a href="www.staffcorner.com">Staffcorner.com</a>
	<h2>Main News</h2>
	<SCRIPT LANGUAGE="JavaScript" SRC="http://www.staffcorner.com/embd.js"></SCRIPT><br />

	<h2>Get Ahead Articles</h2>
	<SCRIPT LANGUAGE="JavaScript" SRC="http://www.staffcorner.com/embd.js?cat=6"></SCRIPT><br />

	<h2>Other News Posts</h2>
	<SCRIPT LANGUAGE="JavaScript" SRC="http://www.staffcorner.com/embd.js?cat=9"></SCRIPT><br />
    
{% endblock %}
