{% extends "templates/base.html" %}


{% block title %}

{% if type == 'pic' %} {{title}} {%endif%}
{% if type == 'vid' %}Video - {{title}} {%endif%}

{% endblock %}


{% block content %}

<!-- **NOTES**
		{{murl}} = full url after decompressing the bitly url
		{{type}} = pic or vid
		{{type2}} = yt or vm
		{{url}} = video url of pic url
		{{uid}} = unique id of the video
-->
	    {% if type == "pic" %}
			<h2>{{title}}</h2>
			<img src={{url}} width="95%"/>    
	    {% endif %}

	    {% if type == "vid" %}
	    	<h2>{{title}}</h2>
	        {% if type2 == "yt" %} 
	            <iframe type="text/html" width="640" height="390"
	              src="http://www.youtube.com/embed/{{uid}}"
	              frameborder="0">
	            </iframe>
	        {% endif %}
	        {% if type2 == "vm" %} 
	            <iframe src="http://player.vimeo.com/video/{{uid}}" width="640" height="390" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
	            </iframe>
	        {% endif %}
	    {% endif %}

{% endblock %}
